class Secrets {
  // Bu dosya bir örnektir. Gerçek anahtarlarınızı lib/core/secrets.dart dosyasına yazın.
  // secrets.dart dosyası .gitignore'a eklendiği için GitHub'a pushlanmayacaktır.
  
  static const String tmdbApiKey = 'YOUR_TMDB_API_KEY_HERE';
  static const String googleBooksApiKey = '';
}
